<div class="container-fluid">
<h1 class="header">Burger Time</h1>

<div class="row">
    <div class="col-sm-4" id="undevoured">
        <h2>Burgers To Be Eaten</h2>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{this.burger_name}} <button data-id="{{this.id}}" data-nowDevoured="{{devoured}}" class="devourBtn">Devour</button>
                </li>
                {{/unless}}
            {{/each}}

        </ul>
    </div>
    <div class="col-sm-4" id="add-div">
        <h2>Add Your Own!</h2>
        <form class="create-form">
        <input type="text" id="burgerInput" placeholder="Type Burger Name Here"><button type="submit">Add</button>
        </form>
    </div>
    <div class="col-sm-4" id="devoured">
        <h2>Burgers That Been Eaten</h2>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    {{this.burger_name}}
                {{/if}}
            {{/each}}

        </ul>
    </div>
</div>
</div>
