#undevoured, #add-div, #devoured{
  border-radius: 10%;
  height: 80vh;
  padding: 10vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}
#undevoured{
  background: rgb(143, 255, 143);
}
#devoured{
  background: rgb(255, 183, 183);
}
#add-div{
  background: rgb(178, 178, 255);
}
.devourBtn{
  background: rgb(255, 183, 183);
  color: white;
  border: 20%;
}
.header{
  text-align: center;
}